@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
.mASection {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4c4c4e;
}

.MainHeading {
  display: grid;
  place-items: left;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  position: absolute;
  height: 40vh;
  width: 30vw;
  left: 20%;
  top: 20%;
  margin-bottom: 0rem;
  text-align: left;
  color: #ffffff;
  font-family: 'Kanit', sans-serif;
}
.h5{
  margin-bottom: 0rem;
  font-size: 2em;
  color: aqua;
  border: 1px solid white;
}
.h1{
  margin-bottom: 0;
  border: 1px solid white;
}
.introduction {  
  font-size: 7em;
  line-height: 80%;
  text-shadow: 1px 1px 1px #919191,
  1px 1.5px 1px #919191,
  1px 2px 1px #919191,
  1px 2.5px 1px #919191,
  1px 3px 1px #919191,
  1px 3.5px 1px #919191,
  1px 4px 1px #919191,
  1px 4.5px 1px #919191,
  1px 5px 1px #919191,
  1px 5.5px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16, 16, 16, 0.2),
1px 30px 60px rgba(16, 16, 16, 0.4);
}