*{
    background-color: #1a1d20;
}
.fb{
    height: 30px;
    width: 30px;
    color: #ffffff;
    text-decoration-color: #dee2e6;
}
#footer{
    position: fixed;
    bottom: 0;
    align-items: center;
}
