*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
h1{
    color: aliceblue;
    text-shadow: 1px 1px 4px black;
}

.one{
    background-color: aqua;
}
.two{
    background-color: red;
}
.three{
    background-color: blue;
}
.four{
    background-color: aquamarine;
}